.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
}

.arrow {
  font-size: 2rem;
  margin: 0 5px;
}

.animate-new-attempt {
  animation: slideDown 0.5s ease-in-out;
}

.attempt {
  display: flex;
  justify-content: center;
}

@keyframes slideDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.correct {
  color: green;
}

.present {
  color: orange;
}

.absent {
  color: red;
}

#current-input {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#arrow-inputs {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
