.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
}

.arrow {
  font-size: 48px;
  margin: 0 10px;
}

.correct {
  color: green;
}

.present {
  color: orange;
}

.absent {
  color: red;
}

#arrow-inputs {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
